<h1 class="text-center">Editing Album</h1>

<%= render 'form' %>

<%= link_to 'Show', @album,:class => 'btn btn-primary center-block z-back' %> |
<%= link_to 'Back', albums_path,:class => 'btn btn-primary center-block z-back' %>
